* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    width: 100vw;
    height: 65vh;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    inset: 0;
}

img.active{
  
}




