@font-face {
    font-family: "jalemberegular";
    src:
        url("../../assets/fonts/jalembe-font/jalembe-webfont.woff2")
            format("woff2"),
        url("../../assets/fonts/jalembe-font/jalembe-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cheriregular";
    src: url("../../assets/fonts/cheri-font/cheri___-webfont.woff2")
        format("woff2");
    src: url("../../assets/fonts/cheri-font/cheri___-webfont.woff") format("woff");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "just_believeregular";
    src:
        url("../../assets/fonts/just-believe/just_believe-webfont.woff2")
            format("woff2"),
        url("../../assets/fonts/just-believe/just_believe-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --border-color: rgba(100, 100, 100, 1);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.logo {
    font-family: just_believeregular;
    padding: 16px;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
}

.image {
    height: 65vh;
    width: 100vw;
    background: var(--border-color);
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    padding: 10px;
    width: 33.3333vw;
    text-align: center;
    margin: 10px;
    font-family: cheriregular;
}

.active {
    border-bottom: 2px solid var(--border-color);
}

.font-cheri {
    font-family: cheriregular;
}

.block {
    display: block;
}

.text-align-center {
    text-align: center;
}

.welcome-msg {
    padding: 20px;
}

.curly-text {
    font-family: just_believeregular;
}

.large-text {
    font-size: 3rem;
}

.small-text {
    font-size: 0.6rem;
}

.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-30 {
    padding: 30px;
}

.story-text {
    opacity: 0.8;
    padding-top: 0;
}

.opacity-75{
  opacity: .75;
}

.chefs-img{
  width: 100vw;
  margin: auto;
}

.chefs-img > img{
  width: 100%;
}

.image-with-quote{
  width: 100vw;
  margin: auto;
  margin-top: -10px;
  position: relative;
  
}
.image-with-quote > img{
  width: 100%;
  filter: brightness(70%);
}

.fade-bottom {
  position: relative;
}

.fade-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%; /* Adjust the percentage to control the fade height */
  background: linear-gradient(to bottom, transparent, white);
  pointer-events: none; 
  
}
.fade-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%; /* Adjust the percentage to control the fade height */
  background: linear-gradient(to bottom, transparent, white);
  pointer-events: none; 
  
}

 .text-on-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 24px;
      text-align: center;
      font-weight: lighter;
      transition: all 2s;
    }
    
.quote-author{
  font-size: .8rem;
  font-weight: bold;
}

nav{
  position: sticky;
  top: 0px;
}

.customer-reviews-title{
  
}