@font-face {
    font-family: "jalemberegular";
    src:
        url("../assets/fonts/jalembe-font/jalembe-webfont.woff2")
            format("woff2"),
        url("../assets/fonts/jalembe-font/jalembe-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cheriregular';
    src: url("../assets/fonts/cheri-font/cheri___-webfont.woff2") format('woff2');
    src: url("../assets/fonts/cheri-font/cheri___-webfont.woff") format('woff');
    font-weight: light;
    font-style: normal;

}

:root{
  --border-color: rgba(100, 100, 100, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: jalemberegular;
    padding: 16px;
    font-size: 1.4rem;
    border-bottom: 1px solid var(--border-color);
}

.image{
  height: 65vh;
  width: 100vw;
  background: var(--border-color);
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li{
  padding: 10px;
  width: 33.3333vw;
  text-align: center;
  margin: 10px;
  font-family: cheriregular;
}

li:hover{
  border-bottom: 2px solid var(--border-color);
  
}

